root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = suggestion

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false:silent

[Catalog/Data/Migrations/*.cs]
# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

[Catalog/Data/ProductDbContext.cs]
# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

[Catalog/Data/Extensions.cs]
# S2139: Exceptions should be either logged or rethrown but not both
dotnet_diagnostic.S2139.severity = none
